<h1>Analysis for <%= @game.champ %> <%= @game.role %></h1>

<pre>
<%= @game %>
W.I.P. :)
=========
W/L: <%= @game.outcome %>
Time Elapsed: <%= @game.time_played %>
KDA: <%= @game.kda %>
CS: <%= @game.cs %>
Mood: <%= @game.mood %>
</pre>

Awesime man keep up da good work
